.bottom-of-site {
  position: relative;
}

.snowTerain {
  background-image: url('https://lorentzos.digital/images/snowTerain.png');
  background-size: cover; 
  width: 100%; 
  height: 300px; 
}
